aclocal.m4
compile
depcomp
missing
install-sh
Makefile
Makefile.in
stamp-h1
configure
config.status
config.log
config.h
config.h.in

*/*.o
*/*.a
*/Makefile
*/Makefile.in
*/.deps
StriDe/grow
autom4te.cache
